<div class="vc_row wpb_row section vc_row-fluid  vc_custom_1469010542810 grid_section" style="background-image:url(/user/themes/-bridge74/img/background-image-1.jpg); text-align:left;">
   <div class=" section_inner clearfix">
      <div class="section_inner_margin clearfix">
         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12">
            <div class="vc_column-inner ">
               <div class="wpb_wrapper">
                  <div class="vc_empty_space" style="height: 5px"><span class="vc_empty_space_inner">
                     <span class="empty_space_image"></span>
                     </span>
                  </div>
                  <div class="wpb_single_image wpb_content_element vc_align_left">
                     <div class="wpb_wrapper">
                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1024" height="700" src="/user/themes/-bridge74/img/background-image-1.jpg" class="vc_single_image-img attachment-full" alt="p" srcset="/user/themes/-bridge74/img/home-image-1a.jpg 1024w, /user/themes/-bridge74/img/home-image-1a-300x205.jpg 300w, /user/themes/-bridge74/img/home-image-1a-768x525.jpg 768w, /user/themes/-bridge74/img/home-image-1a-700x479.jpg 700w" sizes="(max-width: 1024px) 100vw, 1024px"></div>
                     </div>
                  </div>
                  <div class="vc_empty_space" style="height: 40px"><span class="vc_empty_space_inner">
                     <span class="empty_space_image"></span>
                     </span>
                  </div>
               </div>
            </div>
         </div>
         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12">
            <div class="vc_column-inner vc_custom_1469010574102">
               <div class="wpb_wrapper">
                  <div class="vc_empty_space" style="height: 20px"><span class="vc_empty_space_inner">
                     <span class="empty_space_image"></span>
                     </span>
                  </div>
                  <div class="wpb_text_column wpb_content_element ">
                     <div class="wpb_wrapper">
                        <h2><span style="color: #ffffff;">{{ page.title }}</span></h2>
                     </div>
                  </div>
                  <div class="vc_empty_space" style="height: 20px"><span class="vc_empty_space_inner">
                     <span class="empty_space_image"></span>
                     </span>
                  </div>
                  <div class="q_progress_bar">
                     <h5 class="progress_title_holder clearfix" style="color: #ffffff;"><span class="progress_title"><span>{{ page.header.metadata.percent1_text }}</span></span><span class="progress_number" style="color: #ffffff;font-size: 15px;font-weight: 300;"><span>{{ page.header.metadata.percent1_percent }}</span>%</span></h5>
                     <div class="progress_content_outer" style="height: 5px;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;background-color: rgba(255, 255, 255, 0.1);">
                        <div data-percentage="{{ page.header.metadata.percent1_percent }}" class="progress_content" style="height: 5px; background-color: rgb(255, 255, 255); border: 1px solid rgb(255, 255, 255); width: {{ page.header.metadata.percent1_percent }}%;"></div>
                     </div>
                  </div>
                  <div class="q_progress_bar">
                     <h5 class="progress_title_holder clearfix" style="color: #ffffff;"><span class="progress_title"><span>{{ page.header.metadata.percent2_text }}</span></span><span class="progress_number" style="color: #ffffff;font-size: 15px;font-weight: 300;"><span>{{ page.header.metadata.percent2_percent }}</span>%</span></h5>
                     <div class="progress_content_outer" style="height: 5px;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;background-color: rgba(255, 255, 255, 0.1);">
                        <div data-percentage="{{ page.header.metadata.percent2_percent }}" class="progress_content" style="height: 5px; background-color: rgb(255, 255, 255); border: 1px solid rgb(255, 255, 255); width: {{ page.header.metadata.percent2_percent }}%;"></div>
                     </div>
                  </div>
                  <div class="vc_row wpb_row section vc_row-fluid vc_inner " style=" text-align:left;">
                     <div class=" full_section_inner clearfix">
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                           <div class="vc_column-inner ">
                              <div class="wpb_wrapper">
                                 <div class="q_counter_holder  left" style="opacity: 1;">
                                    <span class="counter  zero executed" style="font-family:'Open Sans', sans-serif;">{{ page.header.metadata.mark1_index }}</span>
                                    <p class="counter_text" style="font-family:'Open Sans', sans-serif;">{{ page.header.metadata.mark1_text }}</p>
                                 </div>
                                 <div class="q_counter_holder  left" style="opacity: 1;">
                                    <span class="counter  zero executed" style="font-family:'Open Sans', sans-serif;">{{ page.header.metadata.mark2_index }}</span>
                                    <p class="counter_text" style="font-family:'Open Sans', sans-serif;">{{ page.header.metadata.mark2_text }}</p>
                                 </div>
                                 <div class="vc_empty_space" style="height: 40px"><span class="vc_empty_space_inner">
                                    <span class="empty_space_image"></span>
                                    </span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                           <div class="vc_column-inner ">
                              <div class="wpb_wrapper">
                                 <div class="q_counter_holder  left" style="opacity: 1;">
                                    <span class="counter  zero executed" style="font-family:'Open Sans', sans-serif;">{{ page.header.metadata.mark3_index }}</span>
                                    <p class="counter_text" style="font-family:'Open Sans', sans-serif;">{{ page.header.metadata.mark3_text }}</p>
                                 </div>
                                 <div class="q_counter_holder  left" style="opacity: 1;">
                                    <span class="counter  zero executed" style="font-family:'Open Sans', sans-serif;">{{ page.header.metadata.mark4_index }}</span>
                                    <p class="counter_text" style="font-family:'Open Sans', sans-serif;">{{ page.header.metadata.mark4_text }}</p>
                                 </div>
                                 <div class="vc_empty_space" style="height: 40px"><span class="vc_empty_space_inner">
                                    <span class="empty_space_image"></span>
                                    </span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!--div class="wpb_column vc_column_container vc_col-sm-4">
                           <div class="vc_column-inner ">
                              <div class="wpb_wrapper">
                                 <div class="q_counter_holder  left" style="opacity: 1;">
                                    <span class="counter  zero executed" style="font-family:'Open Sans', sans-serif;">{{ page.header.metadata.mark5_index }}</span>
                                    <p class="counter_text" style="font-family:'Open Sans', sans-serif;">{{ page.header.metadata.mark5_text }}</p>
                                 </div>
                                 <div class="q_counter_holder  left" style="opacity: 1;">
                                    <span class="counter  zero executed" style="font-family:'Open Sans', sans-serif;">{{ page.header.metadata.mark6_index }}</span>
                                    <p class="counter_text" style="font-family:'Open Sans', sans-serif;">{{ page.header.metadata.mark6_text }}</p>
                                 </div>
                                 <div class="vc_empty_space" style="height: 40px"><span class="vc_empty_space_inner">
                                    <span class="empty_space_image"></span>
                                    </span>
                                 </div>
                              </div>
                           </div-->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>