<div class="vc_row wpb_row section vc_row-fluid  vc_custom_1468484781766 grid_section" style=" text-align:left;">
    <div class=" section_inner clearfix">
        <div class="section_inner_margin clearfix">
            <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                    <h2   style="text-align: center;">{{ page.title }}</h2>
                </div>
                <div class="vc_empty_space" style="height: 15px">
                    <span class="vc_empty_space_inner">
                        <span class="empty_space_image"></span>
                    </span>
                </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-3 vc_col-md-3">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_center">
                            <div class="wpb_wrapper">
                                <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="600" height="395" src="/user/pages/03.services/{{ page.header.metadata.image1 }}" class="vc_single_image-img attachment-full" alt="p" srcset="/user/pages/03.services/{{ page.header.metadata.image1 }}" sizes="(max-width: 600px) 100vw, 600px"></div>
                            </div>
                        </div>
                        <div class="vc_empty_space" style="height: 40px"><span class="vc_empty_space_inner">
                            <span class="empty_space_image"></span>
                            </span>
                        </div>
                        <!--div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <h3>{{ page.header.metadata.title1 }}</h3>
                            </div>
                        </div>
                        <div class="vc_empty_space" style="height: 22px"><span class="vc_empty_space_inner">
                            <span class="empty_space_image"></span>
                            </span>
                        </div-->
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <p>{{ page.header.metadata.text1 }}</p>
                            </div>
                        </div>
                        <div class="vc_empty_space" style="height: 31px"><span class="vc_empty_space_inner">
                            <span class="empty_space_image"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-3 vc_col-md-3">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_center">
                            <div class="wpb_wrapper">
                                <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="600" height="395" src="/user/pages/03.services/{{ page.header.metadata.image2 }}" class="vc_single_image-img attachment-full" alt="p" srcset="/user/pages/03.services/{{ page.header.metadata.image2 }}" sizes="(max-width: 600px) 100vw, 600px"></div>
                            </div>
                        </div>
                        <div class="vc_empty_space" style="height: 40px"><span class="vc_empty_space_inner">
                            <span class="empty_space_image"></span>
                            </span>
                        </div>
                        <!--div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <h3>{{ page.header.metadata.title2 }}</h3>
                            </div>
                        </div>
                        <div class="vc_empty_space" style="height: 22px"><span class="vc_empty_space_inner">
                            <span class="empty_space_image"></span>
                            </span>
                        </div-->
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <p>{{ page.header.metadata.text2 }}</p>
                            </div>
                        </div>
                        <div class="vc_empty_space" style="height: 31px"><span class="vc_empty_space_inner">
                            <span class="empty_space_image"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-3 vc_col-md-3">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_center">
                            <div class="wpb_wrapper">
                                <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="600" height="395" src="/user/pages/03.services/{{ page.header.metadata.image3 }}" class="vc_single_image-img attachment-full" alt="p" srcset="/user/pages/03.services/{{ page.header.metadata.image3 }}" sizes="(max-width: 600px) 100vw, 600px"></div>
                            </div>
                        </div>
                        <div class="vc_empty_space" style="height: 40px"><span class="vc_empty_space_inner">
                            <span class="empty_space_image"></span>
                            </span>
                        </div>
                        <!--div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <h3>{{ page.header.metadata.title3 }}</h3>
                            </div>
                        </div>
                        <div class="vc_empty_space" style="height: 22px"><span class="vc_empty_space_inner">
                            <span class="empty_space_image"></span>
                            </span>
                        </div-->
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <p>{{ page.header.metadata.text3 }}</p>
                            </div>
                        </div>
                        <div class="vc_empty_space" style="height: 31px"><span class="vc_empty_space_inner">
                            <span class="empty_space_image"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-3 vc_col-md-3">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_center">
                            <div class="wpb_wrapper">
                                <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="600" height="395" src="/user/pages/03.services/{{ page.header.metadata.image4 }}" class="vc_single_image-img attachment-full" alt="p" srcset="/user/pages/03.services/{{ page.header.metadata.image4 }}" sizes="(max-width: 600px) 100vw, 600px"></div>
                            </div>
                        </div>
                        <div class="vc_empty_space" style="height: 40px"><span class="vc_empty_space_inner">
                            <span class="empty_space_image"></span>
                            </span>
                        </div>
                        <!--div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <h3>{{ page.header.metadata.title4 }}</h3>
                            </div>
                        </div>
                        <div class="vc_empty_space" style="height: 22px"><span class="vc_empty_space_inner">
                            <span class="empty_space_image"></span>
                            </span>
                        </div-->
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <p>{{ page.header.metadata.text4 }}</p>
                            </div>
                        </div>
                        <div class="vc_empty_space" style="height: 31px"><span class="vc_empty_space_inner">
                            <span class="empty_space_image"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>