    <div class="vc_row wpb_row section vc_row-fluid  vc_custom_1468420979451 grid_section" style=" text-align:left;">
        <div class=" section_inner clearfix">
            <div class="section_inner_margin clearfix">
                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-3 vc_col-md-3">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <span data-type="square" data-hover-bg-color="#19bb9b" data-hover-icon-color="#ffffff" class="qode_icon_shortcode fa-stack q_font_awsome_icon_square fa-lg  " style="background-color: #2a2a2a;border: 0px solid #2a2a2a;font-size: 18px;font-size: 25px;border-radius: 4px; "><span aria-hidden="true" class="qode_icon_font_elegant {{ page.header.metadata.icon1 }} qode_icon_element" style="font-size: 18px;color: #ffffff;"></span></span>	
                            <div class="vc_empty_space" style="height: 21px"><span class="vc_empty_space_inner">
                                <span class="empty_space_image"></span>
                                </span>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                <h3>{{ page.header.metadata.title1 }}</h3>
                                </div>
                            </div>
                            <div class="vc_empty_space" style="height: 13px"><span class="vc_empty_space_inner">
                                <span class="empty_space_image"></span>
                                </span>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                <p>{{ page.header.metadata.text1 }}</p>
                                </div>
                            </div>
                            <div class="vc_empty_space" style="height: 40px"><span class="vc_empty_space_inner">
                                <span class="empty_space_image"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-3 vc_col-md-3">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <span data-type="square" data-hover-bg-color="#19bb9b" data-hover-icon-color="#ffffff" class="qode_icon_shortcode fa-stack q_font_awsome_icon_square fa-lg  " style="background-color: #2a2a2a;border: 0px solid #2a2a2a;font-size: 18px;font-size: 25px;border-radius: 4px; "><span aria-hidden="true" class="qode_icon_font_elegant {{ page.header.metadata.icon2 }} qode_icon_element" style="font-size: 18px;color: #ffffff;"></span></span>	
                            <div class="vc_empty_space" style="height: 21px"><span class="vc_empty_space_inner">
                                <span class="empty_space_image"></span>
                                </span>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                <h3>{{ page.header.metadata.title2 }}</h3>
                                </div>
                            </div>
                            <div class="vc_empty_space" style="height: 13px"><span class="vc_empty_space_inner">
                                <span class="empty_space_image"></span>
                                </span>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                <p>{{ page.header.metadata.text2 }}</p>
                                </div>
                            </div>
                            <div class="vc_empty_space" style="height: 40px"><span class="vc_empty_space_inner">
                                <span class="empty_space_image"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-3 vc_col-md-3">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <span data-type="square" data-hover-bg-color="#19bb9b" data-hover-icon-color="#ffffff" class="qode_icon_shortcode fa-stack q_font_awsome_icon_square fa-lg  " style="background-color: #2a2a2a;border: 0px solid #2a2a2a;font-size: 18px;font-size: 25px;border-radius: 4px; "><span aria-hidden="true" class="qode_icon_font_elegant {{ page.header.metadata.icon3 }} qode_icon_element" style="font-size: 18px;color: #ffffff;"></span></span>	
                            <div class="vc_empty_space" style="height: 21px"><span class="vc_empty_space_inner">
                                <span class="empty_space_image"></span>
                                </span>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                <h3>{{ page.header.metadata.title3 }}</h3>
                                </div>
                            </div>
                            <div class="vc_empty_space" style="height: 13px"><span class="vc_empty_space_inner">
                                <span class="empty_space_image"></span>
                                </span>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                <p>{{ page.header.metadata.text3 }}</p>
                                </div>
                            </div>
                            <div class="vc_empty_space" style="height: 40px"><span class="vc_empty_space_inner">
                                <span class="empty_space_image"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-3 vc_col-md-3">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <span data-type="square" data-hover-bg-color="#19bb9b" data-hover-icon-color="#ffffff" class="qode_icon_shortcode fa-stack q_font_awsome_icon_square fa-lg  " style="background-color: #2a2a2a;border: 0px solid #2a2a2a;font-size: 18px;font-size: 25px;border-radius: 4px; "><span aria-hidden="true" class="qode_icon_font_elegant {{ page.header.metadata.icon4 }} qode_icon_element" style="font-size: 18px;color: #ffffff;"></span></span>	
                            <div class="vc_empty_space" style="height: 21px"><span class="vc_empty_space_inner">
                                <span class="empty_space_image"></span>
                                </span>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                <h3>{{ page.header.metadata.title4 }}</h3>
                                </div>
                            </div>
                            <div class="vc_empty_space" style="height: 13px"><span class="vc_empty_space_inner">
                                <span class="empty_space_image"></span>
                                </span>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                <p>{{ page.header.metadata.text4 }}</p>
                                </div>
                            </div>
                            <div class="vc_empty_space" style="height: 40px"><span class="vc_empty_space_inner">
                                <span class="empty_space_image"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>

