{% extends 'partials/base.html.twig' %}

{% set show_onpage_menu = true %}
{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

{% block content %}
<div class="content" style="min-height: 501px;">
    <div class="content_inner  " style="position: relative; visibility: visible; display: block; opacity: 1;">
        <style type="text/css" data-type="vc_shortcodes-custom-css-103">.vc_custom_1469104276782{padding-top: 90px !important;padding-bottom: 79px !important;}.vc_custom_1469104207746{padding-bottom: 87px !important;}</style>
        <div class="title_outer title_without_animation" data-height="250">
            <div class="title title_size_medium  position_center " style="height:250px;">
                <div class="image not_responsive"></div>
                <div class="title_holder" style="padding-top:42.5px;height:207.5px;">
                    <div class="container">
                        <div class="container_inner clearfix">
                            <div class="title_subtitle_holder">
                                <h1><span>{{ page.header.title }}</span></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="full_width" style="background-color:#ffffff">
            <div class="full_width_inner">
                <div class="vc_row wpb_row section vc_row-fluid  grid_section" style=" text-align:center;">
                    <div class=" section_inner clearfix">
                        <div class="section_inner_margin clearfix">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1469104207746" style=" text-align:left;">
                                            <div class=" full_section_inner clearfix">
                                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                                    <div class="vc_column-inner ">
                                                        <div class="wpb_wrapper">
                                                            <div class="wpb_single_image wpb_content_element vc_align_center">
                                                                <div class="wpb_wrapper">
                                                                    <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1300" height="453" src="/user/pages/03.services/{{ page.header.metadata.main_image }}" sizes="(max-width: 1300px) 100vw, 1300px"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_row wpb_row section vc_row-fluid  vc_custom_1469104276782 grid_section" style=" text-align:left;">
                    <div class=" section_inner clearfix">
                        <div class="section_inner_margin clearfix">
                            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-3 vc_col-md-3">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_center">
                                            <div class="wpb_wrapper">
                                                <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="600" height="395" src="/user/pages/03.services/{{ page.header.metadata.image1 }}" class="vc_single_image-img attachment-full" alt="p" srcset="/user/pages/03.services/{{ page.header.metadata.image1 }}" sizes="(max-width: 600px) 100vw, 600px"></div>
                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 40px"><span class="vc_empty_space_inner">
                                            <span class="empty_space_image"></span>
                                            </span>
                                        </div>
                                        <!--div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <h3>{{ page.header.metadata.title1 }}</h3>
                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 22px"><span class="vc_empty_space_inner">
                                            <span class="empty_space_image"></span>
                                            </span>
                                        </div-->
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>{{ page.header.metadata.text1 }}</p>
                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 31px"><span class="vc_empty_space_inner">
                                            <span class="empty_space_image"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-3 vc_col-md-3">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_center">
                                            <div class="wpb_wrapper">
                                                <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="600" height="395" src="/user/pages/03.services/{{ page.header.metadata.image2 }}" class="vc_single_image-img attachment-full" alt="p" srcset="/user/pages/03.services/{{ page.header.metadata.image2 }}" sizes="(max-width: 600px) 100vw, 600px"></div>
                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 40px"><span class="vc_empty_space_inner">
                                            <span class="empty_space_image"></span>
                                            </span>
                                        </div>
                                        <!--div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <h3>{{ page.header.metadata.title2 }}</h3>
                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 22px"><span class="vc_empty_space_inner">
                                            <span class="empty_space_image"></span>
                                            </span>
                                        </div-->
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>{{ page.header.metadata.text2 }}</p>
                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 31px"><span class="vc_empty_space_inner">
                                            <span class="empty_space_image"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-3 vc_col-md-3">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_center">
                                            <div class="wpb_wrapper">
                                                <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="600" height="395" src="/user/pages/03.services/{{ page.header.metadata.image3 }}" class="vc_single_image-img attachment-full" alt="p" srcset="/user/pages/03.services/{{ page.header.metadata.image3 }}" sizes="(max-width: 600px) 100vw, 600px"></div>
                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 40px"><span class="vc_empty_space_inner">
                                            <span class="empty_space_image"></span>
                                            </span>
                                        </div>
                                        <!--div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <h3>{{ page.header.metadata.title3 }}</h3>
                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 22px"><span class="vc_empty_space_inner">
                                            <span class="empty_space_image"></span>
                                            </span>
                                        </div-->
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>{{ page.header.metadata.text3 }}</p>
                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 31px"><span class="vc_empty_space_inner">
                                            <span class="empty_space_image"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-3 vc_col-md-3">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_center">
                                            <div class="wpb_wrapper">
                                                <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="600" height="395" src="/user/pages/03.services/{{ page.header.metadata.image4 }}" class="vc_single_image-img attachment-full" alt="p" srcset="/user/pages/03.services/{{ page.header.metadata.image4 }}" sizes="(max-width: 600px) 100vw, 600px"></div>
                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 40px"><span class="vc_empty_space_inner">
                                            <span class="empty_space_image"></span>
                                            </span>
                                        </div>
                                        <!--div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <h3>{{ page.header.metadata.title4 }}</h3>
                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 22px"><span class="vc_empty_space_inner">
                                            <span class="empty_space_image"></span>
                                            </span>
                                        </div-->
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>{{ page.header.metadata.text4 }}</p>
                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 31px"><span class="vc_empty_space_inner">
                                            <span class="empty_space_image"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
